<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV Slicer</title>
  <link rel="icon" href="../img/favicon.ico" type="image/png"/>
  <script src="../js/tailwind.min.js"></script>
  <style>
    .overlay {
      inset: 0;
      background: #0004;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .overlay-msg {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      background-color: #0004;
      font-size: 1.1rem;
      color: white;
      pointer-events: none;
    }
  </style>
</head>
<body class="bg-gray-100 px-8 py-4">
  <script src="../js/petite-vue.min.js"></script>
  
<main>
  <div class="overlay" v-if="busy.active">
    <div class="overlay-msg">{{busy.msg}}</div>
  </div>
  <h2 class="text-3xl font-medium mb-8">
    CSV Slicer
  </h2>

  <!-- SOURCE -->
  <div class="text-xl mb-2">FILE SOURCE</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <div class="mb-2">
    Separator
    <input
      v-model = "sourceSep"
      class   = "px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
    >
    <button
      class   = "ml-2 px-4 py-2 border border-border rounded-lg text-sm cursor-pointer"
      @click  = "getTestFile"
    >Test</button>
    <button
      class   = "ml-1 px-4 py-2 rounded-lg bg-blue-500 text-white text-sm cursor-pointer"
      @click  = "browse"
    >Search</button>
  </div>
  <table class="table-auto w-full border-collapse text-sm">
    <thead>
      <tr>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">FILE NAME</th>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">SIZE</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="file in exposed.filesSource">
        <td
          v-text  = "file[0]"
          class   = "px-4"
        ></td>
        <td
          v-text  = "file[1]"
          class   = "px-4"
        ></td>
      </tr>
      <tr v-if="!exposed.filesSource.length">
        <td colspan="2" class="px-4">
          <span class="chip">NONE FILE</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  <!-- HEADER -->
  <br/>
<div class="text-xl mb-2">HEADER</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <table class="table-auto w-full border-collapse text-sm">
    <thead>
      <tr>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">
          <button
            @click  = "exposed.selectCols()"
            class   = "btn btn-link"
          >
            <i
              :class  = "exposed.colsIcon"
            ></i>
          </button>
          COLUMN
        </th>
        <th class="border-b-2 border-gray-300 px-8 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">RENAME_TO</th>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">FORMATTER_TO</th>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">FILTER</th>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="col in exposed.header"
        :class = "{'text-gray': !exposed.columns[col]}"
      >
        <td class="px-4">
          <div class="form-group">
            <label class="truncate cursor-pointer">
              <input
                @change = "exposed.colsClick(col)"
                type    = "checkbox"
                class   = "size-4 rounded border-gray-300 shadow-sm float-left mt-1 mr-2"
                v-model = "exposed.columns[col]"
              >
              <span class="font-light" v-text="col"></span>
            </label>
          </div>
        </td>
        <td class="text-gray px-4">
          <input
            class   = "form-input"
            v-model = "exposed.renames[col]"
          />
        </td>
        <td class="text-gray px-4">
          <label class="cursor-pointer">
            <input
              type    = "checkbox"
              v-model = "exposed.toDigit[col]"
              class   = "size-4 rounded border-gray-300 shadow-sm float-left mt-1 mr-2"
            >
            <span class="font-light">Only digits</span>
          </label>
        </td>
        <td class="text-gray-300 px-4">[UNAVAILABLE]</td>
        <td class="text-gray-300 px-4">[UNAVAILABLE]</td>
      </tr>
      <tr v-if="!exposed.header.length">
        <td colspan="5" class="px-4">
          <span class="chip">NO HEADER</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- PROCESS -->
  <br/>
<div class="text-xl mb-2">PROCESS</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      Maximum lines per source
    </div>
    <div class="col-span-8">
      <input
        type    = "number"
        min     = "0"
        v-model = "maxLines"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      Slice lines
    </div>
    <div class="col-span-8">
      <input
        type    = "number"
        step    = "100000"
        min     = "100000"
        v-model = "lineSlice"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4" v-if="exposed.header.length">
    <div class="col-span-4">
      IF SQL, db.tablename
    </div>
    <div class="col-span-8">
      <input
        step    = "100000"
        min     = "100000"
        v-model = "sqlTable"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      </div>
    <div class="col-span-8">
      <button
        class     = "px-4 py-2 rounded-lg bg-blue-500 text-white text-sm cursor-pointer flex items-center gap-2"
        @click    = "processFiles"
        :disabled = "!exposed.filesSource.length"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-icon lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
        <span>Process</span>
      </button>
    </div>
  </div>
  <div
    class   = "card-footer bg-grey"
    v-if    = "exposed.processing"
  >
    <progress class = "progress"></progress>
  </div>
</div>
  
  <!-- PROCESS -->
  <br/>
<div class="text-xl mb-2">
  FILES TARGET
  <span v-if="exposed.filesTarget.length">({{exposed.filesTarget.length}})</span>
</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <div v-if="!exposed.filesTarget.length">
    <span class="chip">NO FILE PRODUCED</span>
  </div>
  <div
    v-for   = "file in exposed.filesTarget"
    class   = "truncate flex items-center gap-2"
  >
    <span class="text-green-600"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check-icon lucide-file-check"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/><path d="m9 15 2 2 4-4"/></svg></span>
    {{ file }}
  </div>
</div>

  <div class="text-center mt-12">
    <div class="mb-2 mx-auto border-t-1 border-gray-400 w-10"></div>
    <div class="text-gray-400">Powered by Go + PetiteVue + Tailwind</div>
    <div class="text-gray-400">Created by Márcio Jalber</div>
  </div>
</main>

<script>
  // import { createApp, reactive } from PetiteVue

  const exposed = PetiteVue.reactive({
    processing : false,
    
    header    : [],
    columns   : [],
    renames   : {},
    toDigit   : {},
    replaces  : {},
    filters   : [],
    setHeader(header) {
      if (this.header == header) return;
      
      this.header     = header;
      this.columns    = {};
      this.renames    = {};
      this.toDigit    = {};
      this.replaces   = {};
      this.filters    = [];
      
      for ( let i in header) {
        let col = header[i];
        this.columns[col]   = true;
        this.renames[col]   = "";
        this.toDigit[col]   = false;
        this.replaces[col]  = {};

        console.log(col)
        if (col == 'Descrição do motivo de cancelamento') {
          this.replaces[col] = {
            'Ação da aplicação parceira': '1',
            'Ação do INSS': '2',
            'Ação DPMF': '3',
            'Agendamento em duplicidade no sistema parceiro': '4',
            'Cancelamento devido a enquadramento de Perícia Externa': '5',
            'Cancelamento devido a migração do SABI para o novo BI': '6',
            'Cancelamento devido ao encaminhamento para análise do infect': '7',
            'Cancelamento/Remarcação do agendamento de origem': '8',
            'Caso fortuito ou força maior': '9',
            'Divergência nos dados da tarefa e do periciado': '10',
            'Endereço do hospital/domicílio inexistente': '11',
            'Falência da empresa': '12',
            'Falta de tarefa de formulário vinculada a de pontuação': '13',
            'Impossibilidade de acesso': '14',
            'Impossibilidade de atendimento': '15',
            'Impossibilidade de identificação do periciado/requerente': '16',
            'Indisponibilidade do sistema': '17',
            'Mudança de endereço': '18',
            'Não atendimento de SIMA no prazo legal': '19',
            'Não comparecimento do segurado': '20',
            'Não informado': '21',
            'Prazo expirado': '22',
            'Profissional não cadastrado no sistema parceiro': '23',
            'Requerente não encontrado no hospital/domicílio': '24',
            'Solicitação do requerente': '25',
            'Solicitação do requerente/parceiro/cliente': '26',
            'Valor inválido': '27',
          };
        }
      }
    
      this.colsCheck  = header.length;
    },

    colsCheck : 0,
    get colsIcon() {
      if (this.colsCheck == 0) {
        return 'icon icon-copy';
      }

      return this.colsCheck == this.header.length
        ? 'icon icon-check'
        : 'icon icon-minus';
    },

    selectCols() {
      let tot_header  = this.header.length;
      let new_value   = this.header.length != this.colsCheck;
      this.colsCheck  = new_value
        ? tot_header
        : 0;

      for ( let col in this.columns) {
        this.columns[col] = new_value;
      }
    },
    
    colsClick(val) {
      this.colsCheck += this.columns[val]
        ? 1
        : -1;
    },

    filesSource: [],
    addFileTarget(file) {
      this.filesTarget.push(file);
    },

    filesTarget: [],
    finishProcess(file) {
      this.processing = false;
    },
  });

  window.appAddFileTarget = exposed.addFileTarget.bind(exposed)
  window.appFinishProcess = exposed.finishProcess.bind(exposed)
  window.appSetHeader     = exposed.setHeader.bind(exposed)

  PetiteVue.createApp({
    busy: {
      active: false,
      msg: "Wait",
    },
    sourceSep : ',',
    maxLines: 0,
    lineSlice: 100000,
    sqlTable: '',
    exposed,
    
    async getTestFile() {
      this.busy.active = true
      this.busy.msg = "Waiting choose test files..."
      this.exposed.filesSource = await openTestCSV()
      this.busy.active = false
    },
    
    async browse() {
      this.busy.active = true
      this.busy.msg = "Waiting choose files..."
      this.exposed.filesSource = await openCSV()
      this.busy.active = false
    },
    
    async processFiles() {
      this.exposed.processing = true;
      this.exposed.filesTarget = [];
      let sqlTable = this.exposed.header.length
        ? this.sqlTable
        : '';
      let renames = {};
      let toDigit = {};
      let columns = [];
      let replaces = {};
      
      for ( let col in this.exposed.renames ) {
        if (!this.exposed.columns[col]) continue;
        columns.push(col)
        let new_val = this.exposed.renames[col].trim();
        if (!!new_val) renames[col] = new_val;
        if (this.exposed.toDigit[col]) toDigit[col] = true;
        if (this.exposed.replaces[col]) {
          replaces[col] = {};
          for (const [key, val] of Object.entries(this.exposed.replaces[col])) {
            replaces[col][key] = val;
          }
        }
      }
      
      await procCSV(
        this.sourceSep,
        this.maxLines,
        this.lineSlice,
        sqlTable,
        columns,
        renames,
        toDigit,
        replaces
      );
    },
  })
  .mount()
</script>
</body>
</html>