<div class="text-xl mb-2">FILE SOURCE</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <div class="mb-2">
    Separator
    <input
      v-model = "sourceSep"
      class   = "px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
    >
    <button
      class   = "ml-2 px-4 py-2 border border-border rounded-lg text-sm cursor-pointer"
      @click  = "getTestFile"
    >Test</button>
    <button
      class   = "ml-1 px-4 py-2 rounded-lg bg-blue-500 text-white text-sm cursor-pointer"
      @click  = "browse"
    >Search</button>
  </div>
  <table class="table-auto w-full border-collapse text-sm">
    <thead>
      <tr>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">FILE NAME</th>
        <th class="border-b-2 border-gray-300 px-4 pt-0 pb-3 text-left font-medium text-gray-400 dark:border-gray-600 dark:text-gray-400">SIZE</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="file in exposed.filesSource">
        <td
          v-text  = "file[0]"
          class   = "px-4"
        ></td>
        <td
          v-text  = "file[1]"
          class   = "px-4"
        ></td>
      </tr>
      <tr v-if="!exposed.filesSource.length">
        <td colspan="2" class="px-4">
          <span class="chip">NONE FILE</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
