<br/>
<div class="text-xl mb-2">PROCESS</div>
<div class="rounded-lg mb-2 p-2 bg-white border border-gray-400">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      Maximum lines per source
    </div>
    <div class="col-span-8">
      <input
        type    = "number"
        min     = "0"
        v-model = "maxLines"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      Slice lines
    </div>
    <div class="col-span-8">
      <input
        type    = "number"
        step    = "100000"
        min     = "100000"
        v-model = "lineSlice"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4" v-if="exposed.header.length">
    <div class="col-span-4">
      IF SQL, db.tablename
    </div>
    <div class="col-span-8">
      <input
        step    = "100000"
        min     = "100000"
        v-model = "sqlTable"
        class   = "mb-2 px-2 py-1 rounded-sm bg-gray-100 border border-gray-400"
      />
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-4">
      </div>
    <div class="col-span-8">
      <button
        class     = "px-4 py-2 rounded-lg bg-blue-500 text-white text-sm cursor-pointer flex items-center gap-2"
        @click    = "processFiles"
        :disabled = "!exposed.filesSource.length"
      >
        {{@include img/icons/check.svg}}
        <span>Process</span>
      </button>
    </div>
  </div>
  <div
    class   = "card-footer bg-grey"
    v-if    = "exposed.processing"
  >
    <progress class = "progress"></progress>
  </div>
</div>
